/* ESERCIZIO 1 TRANSIZIONE */
.ex-1-square:hover {
  background-color: red;
  transition: 2s
}
/* ESERCIZIO 2 TRANSIZIONE */
.ex-2-square:active {
  width: 100%;
  transition: 4s;
}
/* ESERCIZIO 3 TRANSIZIONE */
.ex-3-square:hover {
  border-radius: 50%;
  transition: 2s;
}
/* ESERCIZIO 4 TRANSIZIONE */
.ex-4-square:hover {
  transition: 2s;
  opacity: 0;
}
/* ESERCIZIO 5 TRANSIZIONE */
.ex-5-square:hover {
  transform: scale(1.5);
  transition: 2s;
}
.ex-5-square:active {
  transform: scale(0.5);
  transition: 2s;
}
/* ESERCIZIO 6 TRANSIZIONE */
.ex-6-img:hover{
  filter: grayscale(1);
}
/* ESERCIZIO 7 TRANSIZIONE*/
.ex-7-img:hover {
  filter: invert(1) sepia(1);
  transition: 5s;
}
/* ESERCIZIO 8 TRANSIZIONE */
.ex-8-img:hover {
  filter: blur(1px) grayscale(1) blur(0);
  border-radius: 20px;
  transition: 5s;
}
/* ESERCIZIO 9 TRANSIZIONE */
.ex-9-img:hover {
  filter: grayscale(1) sepia(1);
  border-radius: 10px;
  transform: scale(1.2);
  transition: 5s;
}
/* ESERCIZIO 10 TRANSIZIONE */
@keyframes spin {
  0% {transform: rotate(360deg);}
}
.ex-10-icon {
  animation: spin 1s linear infinite;
}
/* ESERCIZIO 11 TRANSIZIONE */
@keyframes spin_1 {
  0% {transform: rotate(0);}
  50% {transform: rotate(270deg);}
}
/* @keyframes spin-none {
  100% {transform: rotate(0);}
} */
.ex-11-icon:hover {
  animation: spin_1 2s linear;
}
.ex-11-icon:hover {
  animation-name: spin-none;
}
